body {
  background-image: url('/public/StarWars.jpg'); /* Set StarWars.jpg as the background image */
  background-size: cover; /* Ensures the background image covers the entire viewport */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-attachment: fixed; /* Fixes the background image to the viewport */
}

.film-grid-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; /* Center the container horizontally */
  padding: 20px; /* Add padding for better spacing */
}

/* Remaining CSS remains the same */


.film-grid-container {
  max-width: 800px;
  /* margin: 0 auto; */
  margin-left: 40px;
  
}

.film-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.film-card {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #251a1a;
}

.modal{
  background-color: black;
  padding: 20px;
  margin-top: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 36px; /* Increase font size */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p {
  color:white;
}
h2, h1, h5 {
  color: white;
}

.play-button {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 10%;
  color: whitesmoke;
  background-color: darkblue;
  padding: 20px;
}

.play-button-li {
  list-style-type: none;
}


.person-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.person-card {
  background-color: darkblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}